.thingsWeDoWrap {
    padding: 2rem;

    h4 {
        margin-bottom: 0;
        font-size: 15px;
        color: #686868;
    }

    h2 {
        font-weight: 800;
        font-size: 2.1rem;
        margin-bottom: 1.5rem;
    }

    .thingsWraper {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 40px;

        .thingItem {
            color: #454545;
            font-weight: 600;
            font-size: 13px;

            h3 {
                margin: 1.5rem 0 1rem;
                font-weight: 600;
                color: #132c4c;
                font-size: 1.4rem;
                text-transform: uppercase;
            }
        }
    }
}