.testimonialsWrap {
    background-color: #eaeaea;
    padding: 1rem 3rem;
    background-repeat: no-repeat;
    background-position: 4rem 1rem;

    .testiContWrap {
        color: #666;
        font-weight: 600;
        font-size: 14px;
        width: 40%;
        margin-top: auto;
        margin-bottom: auto;

        p {
            margin-bottom: 0;
        }

        h2 {
            font-weight: 800;
            font-size: 2.1rem;
            margin-bottom: 0;
        }
    }

    .testimonials {
        width: 60%;
        min-height: 400px;
        display: flex;
        padding: 0 5rem;

        .owl-carousel {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}